:root {
  /* base */
  --color-light: #fff;
  --color-neutral-50: #f9fafb;
  --color-neutral-100: #f3f4f6;

  // --color-neutral-200: #f3f3f3;

  // --color-neutral-200: #ecfeff;
  // --color-neutral-200: #f4f9fb;
  --color-neutral-300: #e5e5e5;
  --color-neutral-400: #bbc1ca;
  --color-neutral-500: #a4a4a4;
  --color-neutral-600: #6c7077;
  --color-neutral-800: #262626;
  --color-neutral-950: #0a0a0a;

  /* accent */
  --color-cyan-50: #f4f9fb;
  --color-cyan-600: #0891b2;
  --color-cyan-700: #0e7490;
  --color-cyan-950: #164e63;
  --color-amber-500: #f59e0b;
  --color-slate-500: #64748b;

  /* red */
  --color-red-500: #de0000;

  /* green */
  --color-green-100: #c8f8e4;
  --color-green-300: #1dc37e;
  --color-green-500: #007b48;

  /* orange */
  --color-orange-400: #fda090;
  --color-orange-500: #fc836d;
}
