* {
    padding: 0;
    border: 0;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

input,
button,
textarea {
    font: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    padding: 0;
    border: none;
    background: transparent;
    color: inherit;
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a {
    color: inherit;
}

a,
a:visited,
a:hover {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    vertical-align: top;
}
