@forward "reset";
@forward "colors";
@forward "semantic";
@forward "dimensions";

.visualy-hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
}

html,
body {
  min-width: 360px;
  max-height: 100vh;

  font-family: var(--font-family);
  color: var(--color-text-primary);

  background: var(--color-bg-primary);
}
