:root {
    --black: #3b434e;
    --white: #fff;

    --bg-main: #f5f6f8;
    --bg-secondary: #f9f8ff;

    --grey: #e2e2e2;
    --grey-light: #ebebeb;
    --grey-dark: #6c7077;
    --grey-tag: #8a99b7;
    --grey-border: #dfdfdf;
    --grey-adventage: #d2d2d2;
    --grey-input: #a4a4a4;

    --primary-accent: #7351f5;
    --primary-accent-hover: #6647e2;

    --red: #de0000;
    --orange: #fc836d;
    --orange-light: #fda090;
    --green: #007b48;
    --green-light: #c8f8e4;

    --font-family: "Noto Sans Display", sans-serif;
    --font-h1: 500 26px / 35px var(--font-family);
    --font-h2: 500 22px / 30px var(--font-family);
    --font-h3: 900 20px / 27px var(--font-family);
    --border-ghost: 1px solid var(--grey-light);
    --border-accent: 1px solid var(--primary-accent);
    --border-dotted: 1px dotted #c4c4c4;

    --shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
    --radius: 5px;

    --transition: all 0.3s ease 0s;
}
