.ghost:hover, .primary {
  background: var(--primary-accent);
  color: var(--white);
}

.down, .addon, .button {
  transition: all 0.2s ease 0s;
}

.button {
  display: flex;
  min-width: 148px;
  min-height: 35px;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  margin-left: 10px;
  font-size: 14px;
  text-align: center;
}

.primary:hover {
  background: var(--primary-accent-hover);
}

.ghost {
  border: var(--border-ghost);
  background: none;
  color: var(--black);
}
.ghost:hover .addon svg {
  fill: var(--white);
}

.with-addon {
  gap: 10px;
}

.down {
  transform: rotate(90deg);
}