.wrapper {
  display: grid;
  min-height: 100vh;
  align-content: stretch;
  gap: 0 30px;
  grid-template: ". header header ." auto ". sidebar body ." 1fr "footer footer footer footer" auto/auto 230px minmax(320px, 1200px) auto;
}

.header {
  display: none;
  grid-area: header;
}

.sidebar {
  background: aquamarine;
  grid-area: sidebar;
}

.content {
  padding: 10px;
  background: lawngreen;
  grid-area: body;
}

.footer {
  grid-area: footer;
}

@media (max-width: 767px) {
  .wrapper {
    grid-template: "header" auto "body" 1fr "footer" auto/minmax(320px, 1fr);
  }
  .sidebar {
    display: none;
  }
  .header {
    display: block;
    background: wheat;
  }
}