.tag {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 20px;
}

.s {
  font-size: 12px;
  line-height: 12px;
}

.m {
  font-size: 14px;
  line-height: 14px;
}

.ghost {
  border: var(--border-ghost);
}

.red {
  background: var(--red);
  color: var(--white);
  font-weight: 600;
}

.grey {
  background: var(--grey-tag);
  color: var(--white);
  font-weight: 600;
}

.green {
  background: var(--green-light);
  color: var(--green);
  font-weight: 700;
}

.primary {
  border: var(--border-accent);
  color: var(--primary-accent);
  font-weight: 500;
}