:root {
  --black: #3b434e;
  --white: #fff;
  --bg-main: #f5f6f8;
  --grey-light: #ebebeb;
  --grey: #e2e2e2;
  --grey-dark: #787d85;
  --grey-tag: #b3c0d9;
  --primary-accent: #7653fc;
  --primary-accent-hover: #6647e2;
  --red: #de0000;
  --orange: #fc836d;
  --green: #1dc37e;
  --green-light: #c8f8e4;
  --font-family: "Noto Sans Display", sans-serif;
  --font-h1: 500 26px / 35px var(--font-family);
  --font-h2: 500 22px / 30px var(--font-family);
  --font-h3: 900 20px / 27px var(--font-family);
  --border-ghost: 1px solid var(--grey-light);
  --border-accent: 1px solid var(--primary-accent);
}