.footer {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 8px 40px;

  height: 70px;
  padding: 25px 30px;

  line-height: 20px;
  color: var(--color-text-inverted);

  background: var(--color-bg-footer);

  & a:hover {
    text-decoration: underline;
  }

  & small {
    white-space: nowrap;
  }
}

@media (width <= 767px) {
  .footer {
    grid-template-columns: 1fr;
    padding: 15px 30px;

    & a {
      text-decoration: underline;
    }
  }
}
