.footer {
    display: grid;
    padding: 25px 30px;
    background: var(--primary-accent);
    color: var(--white);
    gap: 8px 40px;
    grid-template-columns: 1fr auto auto;
    line-height: 20px;

    & a:hover {
        color: var(--grey-tag);
    }

    & span {
        white-space: nowrap;
    }
}

@media (max-width: 767px) {
    .footer {
        padding: 15px 30px;
        grid-template-columns: 1fr;

        & a {
            text-decoration: underline;
        }
    }
}
