.tag {
  display: inline-block;
  margin-right: 5px;
  padding: 5px 10px;
  border-radius: 20px;
}

.s {
  font-size: 12px;
  line-height: 12px;
}

.m {
  font-size: 14px;
  line-height: 14px;
}

.ghost {
  background: var(--color-neutral-100);
  border: var(--border-ghost);
}

.red {
  font-weight: 600;
  color: var(--color-text-inverted);
  background: var(--color-red-500);
}

.grey {
  font-weight: 600;
  color: var(--color-text-inverted);
  background: var(--color-slate-500);
}

.green {
  font-weight: 700;
  color: var(--color-green-500);
  background: var(--color-green-100);
}

.primary {
  font-weight: 600;
  color: var(--color-accent);
  border: var(--border-accent);
}
