/* stylelint-disable declaration-block-no-redundant-longhand-properties */
.header {
  z-index: 9999;
  display: none;
}

.mobile {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 15px;

  height: 100%;
  padding: 15px;

  background-color: var(--color-bg-primary);
}

.actions {
  display: flex;
  justify-content: space-between;
}

@media (width <= 1024px) {
  .header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: var(--color-bg-primary);
  }
}

@media screen and (width <= 728px) {
  .header {
    padding: 15px 30px;
  }
}
