.sort {
    display: inline-block;
    display: grid;
    gap: 40px;
    grid-template-columns: auto auto;

    & button {
        display: grid;
        align-items: center;
        cursor: pointer;
        gap: 8px;
        grid-template-columns: 20px 1fr;

        &:not(.active) {
            grid-template-columns: 1fr;
        }
    }
}

.icon {
    display: none;
}

.active {
    color: var(--primary-accent);
    font-weight: bold;

    & .icon {
        display: block;
        margin-right: 8px;
    }
}
