.sort {
  display: inline-block;
  display: grid;
  grid-template-columns: auto auto;
  gap: 40px;

  & button {
    cursor: pointer;

    display: grid;
    grid-template-columns: 20px 1fr;
    gap: 8px;
    align-items: center;

    &:not(.active) {
      grid-template-columns: 1fr;
    }
  }
}

.icon {
  display: none;
}

.active {
  font-weight: bold;
  color: var(--color-accent);

  & .icon {
    display: block;
    margin-right: 8px;
  }
}

.sort-name {
  display: none;
}
