.button {
  all: unset;

  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  min-width: 148px;
  padding: 10px;

  font-size: 14px;
  line-height: 1;

  border-radius: var(--radius);

  transition: var(--transition);
}

.primary {
  color: var(--color-text-inverted);
  background: var(--color-accent);

  &:hover {
    background: var(--color-accent-hover);
  }
}

.ghost {
  color: var(--color-text-primary);
  background: none;
  border: var(--border-ghost);

  &:hover {
    border-color: var(--color-accent);
  }
}

.icon {
  width: 40px;
  min-width: auto;
  height: 40px;
  padding: 0;

  color: var(--color-text-accent);

  background: var(--color-bg-secondary);
  box-shadow: 0 4px 4px rgb(0 0 0 / 10%);

  &:hover {
    color: var(--color-text-inverted);
    background: var(--color-accent);
  }
}

.addon {
  transition: var(--transition);
}

.down {
  transform: rotate(90deg);
  transition: var(--transition);
}

.small {
  min-width: unset;
}
