%inverted {
    background: var(--white);
    color: var(--primary-accent);
}

%main {
    background: var(--primary-accent);
    color: var(--white);
}

.button {
    display: inline-flex;
    min-width: 148px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: var(--radius);
    font-size: 14px;
    line-height: 1;
    text-align: center;
    transition: var(--transition);
}

.primary {
    @extend %main;

    &:hover {
        background: var(--primary-accent-hover);
    }
}

.primary-inverted {
    @extend %inverted;

    width: 40px;
    height: 40px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);

    &:hover {
        @extend %main;
    }
}

.addon {
    transition: var(--transition);
}

.ghost {
    border: var(--border-ghost);
    background: none;
    color: var(--black);

    &:hover {
        @extend %main;

        svg {
            fill: var(--white);
        }
    }
}

.with-addon {
    gap: 10px;
}

.down {
    transform: rotate(90deg);
    transition: var(--transition);
}

.small {
    min-width: auto;
    padding: 0;
}

/*
svg {
            fill: var(--white);
        }

*/

/*

    &:hover {
        background: var(--primary-accent);
        color: var(--white);
    }
*/
