%main {
    background: var(--primary-accent);
    color: var(--white);
}

%transition {
    transition: all 0.2s ease 0s;
}

.button {
    @extend %transition;

    display: inline-flex;
    min-width: 148px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: var(--radius);
    font-size: 14px;
    line-height: 1;
    text-align: center;
}

.primary {
    @extend %main;

    &:hover {
        background: var(--primary-accent-hover);
    }
}

.ghost {
    border: var(--border-ghost);
    background: none;
    color: var(--black);

    &:hover {
        @extend %main;

        .addon svg {
            fill: var(--white);
        }
    }
}

.with-addon {
    gap: 10px;
}

.addon {
    @extend %transition;
}

.down {
    @extend %transition;

    transform: rotate(90deg);
}

.small {
    min-width: auto;
}
