.wrapper {
  position: relative;
}

.base {
  width: 100%;
  padding: 7px 15px;

  line-height: 22px;

  background: var(--color-bg-input);
  border-radius: var(--radius);
  outline-color: var(--color-accent);
  box-shadow: var(--shadow-input);

  &::placeholder {
    color: var(--color-input-placeholder);
  }
}

.input {
  height: 36px;
}

.error {
  outline-color: var(--color-red-500);
}
