.first-level-list {
    padding: 0;
}

.second-level {
    margin-bottom: 10px;
    color: var(--grey-dark);
    cursor: pointer;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
}

.second-block {
    padding-left: 32px;
    border-left: 1px solid var(--grey-border);
    margin-top: 15px;
    margin-left: 12px;
}

.second-level-block {
    overflow: hidden;
}

.third-level {
    display: block;
    margin-bottom: 10px;
    color: var(--grey-dark);
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    outline-offset: -1px;

    &:hover,
    &.active {
        color: var(--primary-accent);
    }
}
