.review {
    display: grid;
    align-items: center;
    font-size: 14px;
    gap: 10px;
    grid-template-columns: [start] auto 1fr auto auto [end];
    line-height: 24px;
}

.user-name {
    font-weight: 700;
}

.date {
    margin-right: 10px;
}

.description {
    grid-column: start / end;
}

@media screen and (max-width: 640px) {
    .review {
        grid-template-columns: [start] 30px [titlestart] auto [dateend] 1fr [end];
    }

    .title {
        grid-column: titlestart / end;
    }

    .date {
        grid-column: start / dateend;
    }
}

@media screen and (max-width: 360px) {
    .rating,
    .date {
        grid-column: start / end;
    }
}
