.header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 20px;
    place-items: baseline left;

    margin-bottom: 30px;
}

@media screen and (width <= 640px) {
    .header {
        grid-template-columns: auto 1fr;
    }
}
