.third-level {
    display: block;
    margin-bottom: 10px;
    color: var(--grey-dark);
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;

    &:hover,
    .active {
        color: var(--primary-accent);
    }
}
