.icon {
  display: block;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: var(--radius);

  transition: var(--transition);
}

.primary {
  background-color: var(--color-accent);

  &:hover {
    background-color: var(--color-accent-hover);
  }
}

.secondary {
  color: var(--color-text-accent);
  background-color: var(--color-bg-secondary);

  &:hover {
    color: var(--color-light);
    background-color: var(--color-accent);
  }
}
