.starRating {
  position: relative;
}

.editable {
  cursor: pointer;
}

.star {
  display: inline-block;
  height: 28px;
  color: var(--color-neutral-400);

  svg {
    fill: var(--color-neutral-400);
  }
}

.filled {
  color: var(--color-amber-500);

  svg {
    fill: var(--color-amber-500);
  }
}

.error svg {
  color: var(--red);
}
