.star-rating {
    position: relative;
    display: flex;

    .hovered {
        color: var(--primary-accent);
        fill: var(--primary-accent);
    }
}

.is-selected {
    cursor: auto;
}

.error button svg {
    color: var(--red);
}

.normal {
    color: #e2e2e2;
    fill: #e2e2e2;
}
