.card {
  border-radius: var(--radius);
  outline: none;
  box-shadow: var(--shadow);
}

.primary {
  background: var(--color-bg-secondary);
}

.secondary {
  background-color: var(--color-bg-tertiary);
  border: 1px solid rgb(0 0 0 / 5%);
}
