.card {
    border-radius: var(--radius);
    background: var(--white);
    box-shadow: var(--shadow);
    outline: none;
}

.white {
    background: var(--white);
}

.blue {
    background: var(--bg-secondary);
}
