.wrapper {
  position: relative;

  display: flex;
  gap: 30px;

  max-width: 1280px;
  min-height: 100vh;
  max-height: 100vh;
  margin: 0 auto;
  padding: 30px 15px 15px;

  background: var(--color-bg-primary);
}

.sidebar {
  min-width: var(--sidebar-width);
}

.content {
  overflow: hidden;
  display: flex;
  flex-grow: 1;
  outline: none;
}

.footer {
  grid-area: footer;
}

.skip-link {
  position: fixed;
  top: 2px;
  left: 100px;

  overflow: hidden;

  height: 0;

  font-size: 12px;
  color: var(--color-text-inverted);
  letter-spacing: 0.5px;

  background-color: var(--color-accent);
  border-radius: var(--radius);
}

.displayed {
  height: auto;
  padding: 6px;
}

@media (width <= 1024px) {
  .wrapper {
    flex-direction: column;
    gap: unset;
    padding: 0;
  }

  .sidebar {
    display: none !important;
  }

  .content {
    padding: 15px;
  }
}
