.wrapper {
  display: grid;
  grid-template:
    ". header header ." auto ". sidebar body ." 1fr "footer footer footer footer" auto / auto 240px minmax(
      320px,
      1200px
    )
    auto;
  gap: 40px 30px;

  min-height: 100vh;

  background: var(--color-bg-primary);
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.content {
  grid-area: body;
  outline: none;
}

.footer {
  grid-area: footer;
}

.skip-link {
  position: fixed;
  top: 2px;
  left: 100px;

  overflow: hidden;

  height: 0;

  color: var(--color-text-inverted);

  background-color: var(--color-accent);
  border-radius: var(--radius);
}

.displayed {
  height: auto;
  padding: 6px;
}

@media (width <= 767px) {
  .wrapper {
    grid-template-areas:
      "header"
      "body"
      "footer";
    grid-template-columns: minmax(320px, 1fr);
    gap: 0;
  }

  .sidebar {
    display: none !important;
  }

  .content {
    padding: 15px;
  }
}
