.vacancies-title {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  place-items: baseline left;
}

.vacancies {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 30px;
}

.count-wrapper {
  padding: 20px;
  text-align: center;
}

.title {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 300;
  line-height: 27px;
}

.count {
  font-size: 36px;
  font-weight: 700;
  line-height: 49px;
  color: var(--color-accent);
}

.salary {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 0;

  padding: 20px;

  text-align: center;
  list-style: none;

  background-color: var(--color-bg-tertiary);
  border: 1px solid rgb(0 0 0 / 4.8%);
  border-radius: var(--radius);
  outline: none;
  box-shadow: var(--shadow);

  & > li:not(:last-child) {
    border-right: var(--border-ghost);
  }
}

.salary-value {
  margin-bottom: 10px;
  font-size: 26px;
  font-weight: 700;
  line-height: 35px;
}

@media screen and (width <= 1200px) {
  .vacancies {
    grid-template-columns: 1fr;
  }
}

@media (width <= 640px) {
  .salary {
    grid-template-columns: 1fr;
    padding-bottom: 20px;

    & > li:not(:last-child) {
      padding-bottom: 20px;
      border-right: none;
      border-bottom: var(--border-ghost);
    }
  }
}
