.textarea-wrapper {
  position: relative;
}

.textarea {
  resize: none;

  width: 100%;
  min-height: 76px;
  padding: 7px 15px;

  line-height: 22px;

  background: var(--color-bg-input);
  border-radius: var(--radius);
  outline-color: var(--primary-accent);
  box-shadow: var(--shadow);

  &::placeholder {
    color: var(--grey-input);
  }
}

.error {
  outline-color: var(--red);
}
