.root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
}

.title {
  margin-bottom: 20px;
  font-size: 2rem;
}

.slideShow {
  display: grid;
  grid-template-columns: repeat(2, minmax(320px, 1fr));
  gap: 16px;

  width: 100%;
  margin-bottom: 30px;
  padding: 16px;

  p {
    place-self: center center;
    font-size: 1.25rem;
    font-style: italic;
    line-height: 1.4;
  }
}

.slidesContainer {
  aspect-ratio: 1.4 / 1;
  padding: 8px;
}

.scrollArea {
  width: 100%;
  padding-right: 10px;
}

.section {
  width: 100%;
  padding-bottom: 30px;

  h2 {
    margin-bottom: 24px;
    font-weight: 400;
    text-align: center;
  }
}

.subTitle {
  width: 100%;
  margin-bottom: 24px;
  padding: 0 16px;

  font-weight: 400;
  text-align: center;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  padding: 16px;
}

@media screen and (width <= 728px) {
  .section {
    padding: 0 15px 30px;
  }

  .slideShow {
    grid-template-columns: repeat(1, minmax(300px, 1fr));
    padding: 16px;

    p {
      font-size: 1rem;
    }
  }
}

@media screen and (width <= 540px) {
  .title {
    font-size: 1.5rem;
  }

  .subTitle {
    font-size: 1.125rem;
  }

  .section {
    padding: 0 0 30px;
  }
}
